<launch>
	<machine name="phoenix" address="localhost" />
	<node name="Camera" pkg="raspicam" type="raspicam_node" output="screen" machine="phoenix" />
	<node name="CaptureStarter" pkg="rosservice" type="rosservice"  args="call --wait /camera/start_capture" machine="phoenix" />
	
	<node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera/image raw out:=/camera/image" />	

	<node name="image_proc" pkg="image_proc" type="image_proc">
            <remap from="image_raw" to="camera/image" />
            <remap from="camera_info" to="camera/camera_info" />
        </node>

        <node name="cameracalibrator" pkg="ptam" type="cameracalibrator" clear_params="true" output="screen">
            <remap from="image" to="image_mono" />
            <remap from="pose" to="pose"/>
            <rosparam file="$(find ptam)/PtamFixParams.yaml"/>
        </node>
</launch>
