<launch>
        <machine name="phoenix" address="localhost" />

        <!-- logged topics:
            /ImageProc_debayer/parameter_descriptions
            /ImageProc_debayer/parameter_updates
            /ImageProc_rectify_color/parameter_descriptions
            /ImageProc_rectify_color/parameter_updates
            /ImageProc_rectify_mono/parameter_descriptions
            /ImageProc_rectify_mono/parameter_updates

            /camera_info
            /image_color
            /image_mono
            /image_raw
            /image_rect
            /image_rect_color

            /cam_front/image_rect
            /cam_bottom/image_rect

        -->

        <node name="FlightLogger_camera" pkg="rosbag" type="record" args="-o /home/phoenix/bag_files/camera_bag /cam_bottom/image_rect /cam_front/image_rect" machine="phoenix" />

</launch>
