<launch>
	<machine name="phoenix" address="localhost" />
        <!-- Transforms -->
        <include file="$(find phx_launch_files)/launch/transforms.launch" />

	<!-- mapping -->
	<!-- for indoor use
	<include file="$(find phx_launch_files)/launch/hector_mapping.launch" /> -->
	<!-- for outdoor use -->
	<include file="$(find phx_launch_files)/launch/hector_mapping_outdoor.launch" />
	
	<!-- cost map -->
	<include file="$(find phx_navigation)/move_base.launch" />

	<!-- octomap map -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.1" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="20.0" />
                <param name="sensor_model/max" value="0.6" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/cloud_filtered" />
	</node>
</launch>

