<launch>
    <machine name="phoenix" address="localhost" />

    <!-- Camera -->
        <node name="Camera" pkg="uvc_camera" type="uvc_camera_node" output="screen">
            <param name="device" value="/dev/video0" />
            <param name="width" value="640" />
            <param name="height" value="480" />
            <param name="format" value="YUYV" />
            <param name="fps" value="25" />
            <param name="gain" value="0" />
            <param name="Auto Exposure" value="0" />
            <param name="camera_info_url" value="file://$(find phx_vision)/ps3eye.yaml" />
        </node>

        <node name="ImageProc" pkg="image_proc" type="image_proc">
            <remap from="image_raw" to="/image_raw" />
            <remap from="camera_info" to="/camera_info" />
        </node>

    <node name="TargetDetectorNode" pkg="phx_vision" type="targetDetectionPublisher.py" />
    <node name="OpticalFlowNode" pkg="phx_vision" type="opticalFlowNode.py" />
</launch>

