<launch>
    <machine name="phoenix" address="localhost" />

    <!-- Serial interfaces -->
        <node name="UARTBridge_naze" pkg="phx_uart_msp_bridge" type="phx_uart_msp_bridge_node_naze_mod" output="screen" machine="phoenix" />
        <node name="UARTBridge_marvic" pkg="phx_uart_msp_bridge" type="phx_uart_msp_bridge_node_marvicRCaltitudeServo" output="screen" machine="phoenix" />

    <!-- GPS filtering-->
        <!-- <include file="$(find phx_launch_files)/launch/phx_gps.launch" /> -->

    <!-- Camera -->
        <!-- <include file="$(find phx_launch_files)/launch/phx_camera.launch" /> -->

    <!-- Laser Scanner -->
        <!-- <node name="LaserScanner" pkg="urg_node" type="urg_node" /> -->
        <node name="LaserScannerLAN" pkg="urg_node" type="urg_node" >
            <param name="ip_address" value="192.168.3.10" />
            <param name="ip_port" value="10940" />
            <param name="frame_id" value="laserHOKUYO" />
            <param name="publish_intensity" value="True" />
            <param name="cluster" value="3" />
        </node>

    <!-- Transforms -->
    <include file="$(find phx_launch_files)/launch/transforms.launch" />

    <!-- robot model -->
    
    <param name="robot_description" command="xacro $(find phx_odometry)/urdf/quadrotor.urdf.xacro" />
    <param name="use_gui" value="False"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>

