<launch>
	<machine name="phoenix" address="localhost" />
	
	<!-- Transforms -->
	<!-- coordinate system convention red = x = forward,  green = y = left and blue = z = up -->
	<!-- t2_ros format x,y,z | qx, qy, qz, qw -->
	
	<!-- copter -> laserHOKUYO -->
	<node name="copter_to_laserHOKUYO_link" pkg="tf2_ros" type="static_transform_publisher"  args="0.12 0.0 -0.09 1.0 0.0 0.0 0.0 copter laserHOKUYO" />
    
        <node name="copter_to_camera" pkg="tf2_ros" type="static_transform_publisher"  args="0.08 0.0 -0.035 1.0 0.0 0.0 0.0 copter camera" />
        <node name="copter_to_LandingSetPoint" pkg="tf2_ros" type="static_transform_publisher"  args="0.00 0.0 -0.21 0.0 0.0 0.0 1.0 copter LandingSetPoint" />
	
	<!-- copter_stabilized -> copter --> 
	<!-- link from copter_stabilized to copter introduces pitch and roll from the imu and is published by the transform_copter_stabilized_to_copter.cpp node -->
	<node name="transform_copter_stabilized_to_copter" pkg="phx_uart_msp_bridge" type="phx_tf_copter_to_copter_stabilized" output="screen" machine="phoenix" />
	
	<!-- footprint -> copter_stabilized -->
	<!-- link from copter_stabilized to footprint is calculated from the marvic_altitude values e.g. the down-lidar sensor by the transform_lidar_altitude.py node -->
	<node name="footprint_to_copter_stabilized" pkg="phx_uart_msp_bridge" type="transform_lidar_altitude.py" output="screen" machine="phoenix" />

	<!-- odom -> footprint -->
	<node name="odom_to_footprint" pkg="tf2_ros" type="static_transform_publisher"  args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 odom footprint" respawn="true" />

</launch>

