<launch>
	<machine name="phoenix" address="localhost" />
	
    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="/image_mono" type="str" />
        
        <!-- Camera calibration file -->
        <rosparam file="$(find phx_odometry)/param/camera_atan_ps3eye.yaml" />
        
        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(find svo_ros)/param/vo_fast.yaml" />

    </node>
</launch>
